*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
# Release signing: written by the release workflow, never committed.
.env
*.jks
*.keystore
